<div class="cards w-5/6 w ms-auto mt-24 overflow-x-hidden p-6">
  <p class="pb-12 text-xl font-semibold">Engineer List</p>
  <div class="mb-5 text-center">
    <input type="text" [(ngModel)]="searchTerm" (input)="filterEngineers()"
      class="border border-gray-300 p-2 w-1/2 rounded-md" placeholder="Search by engineer name...">
  </div>
  <!-- Engineer List -->
  <div class="engineers grid grid-cols-1 md:grid-cols-3 gap-4">
    <div *ngFor="let engineer of paginatedEngineers"
      class="relative flex w-80 flex-col rounded-xl mt-9 bg-gray-50 bg-clip-border text-gray-700 shadow-md">
      <!-- Engineer Card -->

      <div
        class="relative mx-4 -mt-6 h-40 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40 bg-gradient-to-r from-blue-500 to-blue-600">
        <img class="engineer-profile-pic" [src]="engineer.user.profilePic" alt="Engineer Profile Picture">
      </div>
      <div class="p-6">
        <h5
          class="mb-2 block font-sans text-xl font-bold text-center leading-snug tracking-normal text-blue-gray-900 antialiased">
          <span class="text-2xl font-medium">{{ engineer.user.fullName || 'N/A' }}</span>
        </h5>
        <h5
          class="mb-2 block font-sans text-lg font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          <span class="text-lg font-medium text-gray-600">{{ engineer.education.title || 'N/A' }}</span>
        </h5>
        <h5 class="mb-2  font-medium text-xl ">
          Skills: <span class="text-gray-600 text-lg font-normal">{{ engineer.skills || "No Skills" }}</span>
        </h5>
        <h5
          class="mb-2 block font-sans text-lg font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          Education: <span class="text-gray-600 font-normal">{{ engineer.education.title}}</span>
        </h5>

        <h5
          class="mb-2 block font-sans text-lg font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
          Verified: <span
            [ngClass]="engineer.verifiedStatus === 'verified' ? 'bg-green-300 rounded-md p-1' : 'bg-red-300 rounded-md p-1'">{{
            engineer.verifiedStatus === 'accepted' ? 'Yes' : 'No' }}</span>
        </h5>
      </div>
      <button [routerLink]="['/profile', engineer._id]"
        class="select-none rounded-lg bg-amber-400 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md">
        View Profile
      </button>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination mt-4 flex justify-center items-center">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-4 py-2 bg-gray-300 rounded-l-lg">
      Previous
    </button>
    <span class="px-4">{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-4 py-2 bg-gray-300 rounded-r-lg">
      Next
    </button>
  </div>
</div>