<div class="cards w-5/6 ms-auto mt-24 p-6 bg-white shadow-lg rounded-lg">
  <p class="pb-12 text-2xl font-bold text-gray-800 border-b mb-6">Client List</p>

  <!-- Search Input Field -->
  <div class="mb-6">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterClients()"
      placeholder="Search by Client Name"
      class="w-full p-3 border border-yellow-500 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-300"
      [ngClass]="{'border-red-500': !isValid}"
      (keydown)="preventNumbers($event)"
    />
    <p *ngIf="!isValid" class="text-red-500">Only letters and spaces are allowed.</p>
  </div>


  <div class="clients grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let client of filteredClients" class="relative flex flex-col rounded-xl bg-gray-50 text-gray-700 shadow-md hover:shadow-lg transition-shadow duration-300">
      <div class="p-6">
        <h5 class="mb-4 font-sans text-lg font-semibold leading-snug tracking-normal text-gray-900">
          Client Name: <span class="text-black-300">{{ client.user.fullName || 'N/A' }}</span>
        </h5>
        <h5 class="mb-4 font-sans text-lg font-semibold leading-snug tracking-normal text-gray-900">
          Overview: <span class="text-gray-600">{{ client.overview || 'N/A' }}</span>
        </h5>
        <h5 class="mb-4 font-sans text-lg font-semibold leading-snug tracking-normal text-gray-900">
          Active Contracts: <span class="text-gray-950">{{ client.activeContracts }}</span>
        </h5>
      </div>
      <div class="p-6 pt-0">
        <button [routerLink]="['/clients', client.user._id]" type="button"
          class="select-none rounded-lg bg-yellow-400 py-3 px-6 text-center font-sans text-xs font-bold uppercase text-white shadow-md hover:bg-yellow-600 transition-colors duration-300">
          View Profile
        </button>
      </div>
    </div>
  </div>
</div>
