<div class="container my-4 w-5/6 ms-auto mt-16 p-6  engineers-container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><strong>Portfolio:
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et numquam libero minus ad porro
                            corporis nam
                            quam incidunt quibusdam itaque fugit corrupti, asperiores explicabo similique iste, tempora
                            perferendis?
                            Modi, incidunt.

                        </strong> <a href="" target="_blank"></a></p>
                    <p class="card-text"><strong>Certifications:</strong> </p>
                    <p class="card-text"><strong>Education:</strong> ({{
                    <p class="card-text"><strong>Specialization:</strong> </p>
                    <p class="card-text"><strong>Skills:</strong> </p>

                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary w-100">View Profile</a>
                    <!-- <a [routerLink]="['/engineers', engineer._id]" class="btn btn-primary w-100">View Profile</a> -->
                </div>
            </div>
        </div>
    </div>
</div>