<!-- Sidebar & Icon  -->
<div class="flex w-full h-screen bg-gray-100">
  <!-- bg-gray-900 -->
  <aside class="w-full bg-gray-900 text-white flex flex-col">
    <!-- sidebar -->
    <nav class="mt-5 flex-1 px-2 space-y-1">
      <!-- accordion -->
      <div id="accordion-flush">
        <!-- Section 1 -->
        <h2 id="accordion-flush-heading-1">
          <button
            (click)="toggleAccordion(1)"
            type="button"
            class="flex items-center justify-between w-full py-5 px-3 font-mono text-xl border-b border-gray-200"
          >
            <span class="flex">
              <!-- text-indigo-300 -->
              <svg
                class="mr-3 h-8 w-8 text-white-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
                />
              </svg>
              Clients
            </span>

            <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 1 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg>

            <!-- mohamed hosni -->
            <!-- <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 1 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg> -->
            <!-- nada -->
            <!-- <svg
              [ngClass]="{ 'rotate-180': isAccordionOpen === 1 }"
              class="w-3 h-3 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg> -->
          </button>
        </h2>
        <div
          *ngIf="isAccordionOpen === 1"
          id="accordion-flush-body-1"
          class="py-2 border-b border-gray-200"
        >
          <!-- <p class="px-7 py-3 rounded-md hover:bg-gray-800">
            <a
              href="/docs/getting-started/introduction/"
              class="text-gray-300 hover:underline"
              >Get All Clients</a
            >
          </p> -->
          <p class="px-10 py-3 text-lg rounded-md hover:bg-gray-800">
            <a
              routerLinkActive="active"
              routerLink="/client"
              class="hover:text-gray-400"
            >
              Get All Clients</a
            >
            <!-- <a
              href="/docs/getting-started/introduction/"
              class="text-gray-300 hover:underline"
              >Get Users By ID</a
            > -->
          </p>
        </div>

        <!-- Section 2 -->
        <h2 id="accordion-flush-heading-2">
          <button
            (click)="toggleAccordion(2)"
            type="button"
            class="flex items-center justify-between w-full py-5 px-3 font-mono text-xl border-b border-gray-200"
          >
            <span class="flex">
              <svg
                class="mr-3 h-8 w-8 text-white-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                />
              </svg>
              Engineers
            </span>
            <!-- mohamed hosni -->
            <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 2 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg>
            <!-- <svg
              [ngClass]="{ 'rotate-180': isAccordionOpen === 2 }"
              class="w-3 h-3 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg> -->
          </button>
        </h2>
        <div
          *ngIf="isAccordionOpen === 2"
          id="accordion-flush-body-2"
          class="py-2 border-b border-gray-200 dark:border-gray-700"
        >
          <p class="px-10 py-3 text-lg rounded-md hover:bg-gray-800">
            <a
              routerLinkActive="active"
              routerLink="/"
              class="hover:text-gray-400"
            >
              Get All Engineers</a
            >
          </p>
          <!-- 
          <p class="px-7 py-3 rounded-md hover:bg-gray-800">
            <a
              href="/docs/getting-started/introduction/"
              class="text-gray-300 hover:underline"
              >Get All Engineers</a
            >
          </p> -->
          <!-- <p class="px-7 py-3 rounded-md hover:bg-gray-800">
            <a
              href="/docs/getting-started/introduction/"
              class="text-gray-300 hover:underline"
              >Get Engineers By ID</a
            >
          </p> -->
        </div>

        <!-- Section 3 -->
        <h2 id="accordion-flush-heading-3">
          <button
            (click)="toggleAccordion(3)"
            type="button"
            class="flex items-center justify-between w-full py-5 px-3 font-mono text-xl border-b border-gray-200"
          >
            <span class="flex">
              <svg
                class="mr-3 h-8 w-8 text-white-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.6 16.733c.234.269.548.456.895.534a1.4 1.4 0 0 0 1.75-.762c.172-.615-.446-1.287-1.242-1.481-.796-.194-1.41-.861-1.241-1.481a1.4 1.4 0 0 1 1.75-.762c.343.077.654.26.888.524m-1.358 4.017v.617m0-5.939v.725M4 15v4m3-6v6M6 8.5 10.5 5 14 7.5 18 4m0 0h-3.5M18 4v3m2 8a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                />
              </svg>
              Proposals
            </span>

            <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 3 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg>
          </button>
        </h2>
        <div
          *ngIf="isAccordionOpen === 3"
          id="accordion-flush-body-3"
          class="py-2 border-b border-gray-200 dark:border-gray-700"
        >
          <p class="px-10 py-3 text-lg rounded-md hover:bg-gray-800">
            <a
              routerLinkActive="active"
              routerLink="/"
              class="hover:text-gray-400"
            >
              Get All Proposals</a
            >
          </p>
        </div>
        <!-- Section 4 -->
        <h2 id="accordion-flush-heading-3">
          <button
            (click)="toggleAccordion(4)"
            type="button"
            class="flex items-center justify-between w-full py-5 px-3 font-mono text-xl border-b border-gray-200"
          >
            <span class="flex">
              <svg
                class="mr-3 h-7 w-7 text-white-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                  clip-rule="evenodd"
                />
              </svg>

              Jobs
            </span>
            <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 4 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg>
          </button>
        </h2>
        <div
          *ngIf="isAccordionOpen === 4"
          id="accordion-flush-body-3"
          class="py-2 border-b border-gray-200 dark:border-gray-700"
        >
          <p class="px-10 py-3 text-lg rounded-md hover:bg-gray-800">
            <a
              routerLinkActive="active"
              routerLink="/service"
              class="hover:text-gray-400"
            >
              Get All Jobs</a
            >
          </p>
        </div>
        <!-- Section 5 -->
        <h2 id="accordion-flush-heading-3">
          <button
            (click)="toggleAccordion(5)"
            type="button"
            class="flex items-center justify-between w-full py-5 px-3 font-mono text-xl border-b border-gray-200"
          >
            <span class="flex">
              <svg
                class="mr-3 h-7 w-7 text-white-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                  clip-rule="evenodd"
                />
              </svg>

              verify
            </span>
            <svg
              [ngClass]="{ 'rotate-90': isAccordionOpen === 5 }"
              class="w-5 h-5 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
                d="m9 5 7 7-7 7"
              />
            </svg>
          </button>
        </h2>
        <div
          *ngIf="isAccordionOpen === 5"
          id="accordion-flush-body-3"
          class="py-2 border-b border-gray-200 dark:border-gray-700"
        >
          <p class="px-10 py-3 text-lg rounded-md hover:bg-gray-800">
            <a
              routerLinkActive="active"
              routerLink="/verify"
              class="hover:text-gray-400"
            >
              Verify Requests</a
            >
          </p>
        </div>
      </div>
    </nav>
  </aside>
</div>
